/* Top bar section */
.btn-danger {
  background: var(--primary) !important;
}

.btn-style {
  border: none;
  outline: none;
  padding: 7px 21px;
  text-align: center;
  color: var(--white);
  border-radius: 21px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-style:focus {
  border: none;
  outline: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

/***** Navigation  style  *********/
.sticky {
  transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  animation-duration: 1s;
  background-color: #fff;
}

.fixed {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  background: #fff;
}

/* Top Nav */
.nav-top {
  background-color: #f7f8fa;
  border: 1px solid #e0e0e0;
  padding: 8px 0px;
  font-size: 14px;
}

.nav-top-icon {
  color: var(--icon-color);
}

/******** navbar-1 *********/
.navbar-brand-icon {
  width: 100px;
}

.search-box {
  background-color: white;
  letter-spacing: 0.025em;
  font-weight: 500;
  font-size: 0.875rem;
  height: 41px;
  padding: 0px 17px;
  border: 2px solid var(--primary);
  border-radius: 4px 0px 0px 4px;
  outline: none;
}

.search-box-btn {
  align-items: center;
  background: var(--primary);
  color: rgb(255, 255, 255);
  padding: 5px 29px;
  outline: none;
  border: none;
  font-size: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.search-box-btn:focus {
  outline: none;
  border: none;
}

.search-box:focus {
  background: #f7f8fa;
}

.navbar-1 .nav_link {
  border: 2px dotted #f1f1f1;
  margin: 0 10px;
  border-radius: 50%;
  padding: 4px 7px;
  box-shadow: 0px 0px 2px #efe0e0;
}

.navbar-1 .nav_link:hover {
  border: 1px solid var(--placeholder);
}

.navbar-1 {
  background-color: var(--border-colo);
}

.navbar-1 .nav_link {
  border: 1px dotted #b68282;
  margin: 0px 6px;
  border-radius: 50%;
  padding: 5px 7px;
  box-shadow: 0px 0px 2px #efe0e0;
}

.top_icon svg {
  color: #111010;
  width: 20px;
  height: 20px;
}

.search-box-btn svg {
  display: flex;
  align-items: center;
}

/********* Navbar 2 ***********/
.navbar.navbar-2 {
  background-color: #333333;
  padding: 0px 0px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.navbar.navbar-2 .btn-style {
  background: transparent;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding-left: 20px;
}

.navbar.navbar-2 .btn-style:focus {
  border: none;
  outline: none;
}

.navbar.navbar-2 .dropdown {
  background-color: var(--primary);
  text-transform: uppercase;
  width: 305px;
  padding: 2px 0px;
  display: flex;
  align-items: center;
}

.navbar.navbar-2 .dropdown .nav-link {
  font-size: 18px;
}

.navbar.navbar-2 .dropdown span.nav-link {
  color: var(--white) !important;
}

.navbar.navbar-2 .navbar-nav-1 .nav-link {
  font-weight: 600;
}

.navbar.navbar-2 .nav-link {
  color: var(--white) !important;
  font-size: 15px;
  margin-right: 10px;
}

.navbar.navbar-2 .nav-link:hover {
  color: #bdbdbd !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border: none !important;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: 0.3s;
}

.notification_menu {
  position: relative;
}
.notification_cart {
  position: absolute;
  margin-top: 20px;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  transition: 0.3s;
  width: 400px;
  z-index: 20;
}

.notification_btn a {
  font-weight: 400;
  font-size: large;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.notification_btn a::after {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 0;
  border-radius: 16px;
  background: rgb(211, 58, 19);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.notification_btn a:hover::after {
  width: 100%;
}

.notification_btn a:focus::after {
  width: 100%;
}

.card svg {
  width: 100px !important;
  height: 50px;
  color: rgba(165, 131, 18, 0.678);
}
.navbar_items {
  border: none !important;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: 0.3s;
}

.navbar_items svg {
  color: #f1f1f185;
}
.dropdown-item {
  font-size: 15px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 260px;
}

.dropdown-item:active {
  color: #16181b;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-item:hover {
  background: transparent;
}

.dropdown-item:last-child {
  border-bottom: none;
}

/* ********* Sub Category ******** */
.insert-sub-category {
  position: relative;
}

.sub-category {
  position: absolute;
  background: #fff;
  left: 99%;
  top: 0%;
  display: none;
  width: 100%;
  padding: 0px 8px;
  border: none !important;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
}

.insert-sub-category:hover .sub-category {
  display: block;
}

.sub-category-item {
  display: block;
  border-bottom: 1px solid var(--border-color);
}
