.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  height: 50px;
  width: 50px;
  background: var(--deep-dark);
  z-index: 10;
  right: 60px;
  left: auto;
  top: 0;
  transform: translateY(50%);
  color: var(--gray-1);
  border-radius: 8px;
  color: #cc3c48 !important;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem;
}

.shop_brand_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
