@import url(//db.onlinewebfonts.com/c/2e1c92a96bf780b95914a597b823fc17?family=UniNeueRegular);

:root {
  --border-color: #e0e0e0;
  --primary: #c9151b;
  --primary-secondary: #f5515f;
  --placeholder: #d0d3d6;
  --background: #f5f6f7;
  --white: #fff;
  --dark: rgb(0, 0, 0) 7;
}

@import "./components/banner.css";
@import "./components/shops.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/mediaQuery.css";
@import "./components/Shoppingcart.css";
@import "./components/model.css";
@import "./components/sidemenu.css";
@import "./components/AllShopCard.css";
@import "./components/singleProduct.css";
