* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* default style */
* {
  transition: 0.2s all ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "UniNeueRegular", "Segoe UI", sans-serif !important;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: var(--background);
  font-size: 14px;
}

.icon-cart {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}
.cart_icon {
  position: relative;
}
.counter {
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 16px;
  color: rgb(226, 74, 74);
  line-height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: block;
  top: 0;
  right: 0;
  bottom: 33px;
  left: 18px;
  margin: auto;
  background-color: rgb(5, 4, 4);
}

/* ******* mobile menu ******** */
.moblie-nav-section {
  background: #fff;
  padding: 18px 25px;
}

.mobile-nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mobile-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.mobile-nav-button svg {
  width: 25px;
  height: 25px;
}

.mobile-nav-login-link {
  border: 1px solid var(--border-color);
  padding: 7px 7px;
  border-radius: 50%;
  padding-top: 2px;
  display: inline-block;
  margin-top: 6px;
}

button.mobile-nav-button:focus {
  border: none;
  outline: none;
}

.mobile-nav-icon {
  width: 75px;
}

/* ***** Mobile Bottom menu ******/
.fixed-nav-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.mobile-bottom-menu {
  background-color: var(--white);
}
.bottom-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-text {
  font-weight: 600;
  font-size: 15px;
  color: #444;
  display: block;
}

.botttom-menu-img {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 11px;
  margin-top: -40px;
  margin-left: -14px;
}
.bottom-menu-item img {
  width: 35px;
}

/* ***** brand-header **** */

.brand-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 40px 0px;
}

.brand-header-sec-btn {
  margin-left: 20px;
}

/* user dropdown */

.profile {
  width: 60px;
  height: 60x;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 60px;
  right: 340px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  visibility: visible;
  opacity: 15;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.action .menu ul li svg {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover svg {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: #ff5d94;
}
